{% extends "seven/layout.html" %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}


    {% if form.numbers.errors %}
    <article class="message is-danger">
        <div class="message-body">
            <ul>
                {% for error in form.numbers.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
    </article>
    {% endif %}

    <div class="field">
        <label for="{{form.numbers.id_for_label}}" class="label">{{ form.numbers.label}}</label>
        <div class="control">
            {{ form.numbers }}
        </div>

    </div>
    <button type="submit" class="button is-link">Send</button>
</form>
{% endblock %}


